################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/Algorithms/Debug
/Algorithms/x64/Debug
/x64/Debug
/Algorithms/Algorithms.vcxproj.user

